<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>NEPHRON+ DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
                           

            </f:facet>

            
            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none;
                }

                .datatablenephron tr, .datatablenephron td {

                    border-bottom-color: #66cccc;
                    border-top-color: #66cccc;
                    border-left-color: #66cccc;
                    border-right-color: #66cccc;
                }

                .myCustomStyle {
                    border-width:0px;
                    border-color: #66cccc!important;
                    border-style: solid;
                    text-align: center;
                    font-size: 13px!important;color:white!important;
                    font-weight: bold!important;
                    background: #66cccc!important;

                    width: 50%;

                }

                .datatablenephron.ui-datatable .ui-datatable-header{
                    background: #c5eded !important;

                }

                .datatablenephron.ui-datatable .ui-paginator {
                    background: #c5eded !important;
                }
                
                .ui-datatable.datatablenephron th {
                    background: #66cccc;
                    font-family: verdana;
                    font-size: 1em;
                }

                .ui-widget-content .ui-datatable-odd .ui-state-highlight 
                {
                    background: #f2d8e9 !important;                    
                }
                
                .datatablenephron.ui-datatable .ui-widget-content .ui-datatable-odd .ui-state-highlight 
                {
                    background: #f2d8e9 !important;                    
                }
                
                .ui-state-hover, .ui-widget-content .ui-state-hover 
                {
                    background: #fff !important;                    
                }
                .datatablenephron.ui-datatable .ui-state-hover, .ui-widget-content .ui-state-hover 
                {
                    background: #fff !important;                    
                }
                .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
                {
                    background: #b9e8e8 !important;                    
                }
                .datatablenephron.ui-datatable .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
                {
                    background: #b9e8e8 !important;                    
                }
                .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus 
                {
background: #c5eded !important;                    
                }
                
                .datatablenephron.ui-datatable .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus 
                {
background: #c5eded !important;                    
                }

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, 
.ui-tabs .ui-tabs-nav li.ui-state-disabled a, 
.ui-tabs .ui-tabs-nav li.ui-state-processing a { 
    cursor: text; 
    background-color: #fff;
}

.ui-tabs .ui-tabs-nav li a, 
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
    cursor: pointer; 
    
    background-color: #66cccc;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

            </style>

            <style>  
        .mymenucss{
            background-color: #fff!important;
            font-weight: bold!important;
            height:25px!important;
        }
        
        .mymenucss.ui-menu .ui-menu .ui-menu-parent,
        .ui-menu-list .ui-widget-header,
        .ui-menu .ui-widget-header h1
        {
            background: #b95c9c!important;
            
            
    
    background-size: 100% 100%!important;
    font-weight: bold!important;
            
        }
 
        .ui-panel .ui-panel-titlebar .ui-panelgrid{
    padding: 0;
    background-color: #11111b;
    border: none;
    border-color: #11111b;
}   

.mypaneldoctor.ui-panel-content {
        border: 0;
        background: red;
        padding: 0.5em 1em;
}

.mypaneldoctor.ui-panel, .mypaneldoctor.ui-panel-content {
    border: 0;
    background: red;
    padding: 0.5em 1em;
}
    </style>
    
        </h:head>

        <h:body>
            <h:form id="form"> 
                
                <p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />
 
<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    
    <p:graphicImage value="images/ajax-loader.gif" />
</p:dialog>
                
                
                <f:metadata>  
                    <f:viewParam name="userID" value="#{basicApplicationBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

<p:layoutUnit position="north" size="120" gutter="0"  >
                        <ui:include src="header_i.xhtml"></ui:include>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 NEPHRON+ Funded by EC FP7
                        </div>

                    </p:layoutUnit>



                    <p:layoutUnit position="west" size="175" header="Menu" collapsible="true" rendered="#{loginManager.loginerror}">
                        <p:menu rendered="#{loginManager.loginerror}">
                            <p:submenu label="Login">
                                <p:menuitem value="Login" url="index.xhtml" />
                            </p:submenu>
                        </p:menu>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" rendered="#{loginManager.loginerror}">
                        <br/>
                        <br/>
                        <br/>


                        <h:outputLabel value="Please Login using the left Login link." />
                    </p:layoutUnit>

                    <p:layoutUnit position="center" rendered="#{loginManager.loginok}">
                        <p:menubar styleClass="mymenucss"> 
                            <p:menuitem value="#{basicApplicationBean.doctorname}" url="DashBoard.xhtml"  icon="ui-icon-home"/>
                            <p:menuitem value="Logout" action="#{loginManager.logout}" icon="ui-icon-close"/>  

                        </p:menubar>
                        <p:tabView >  

                            <p:tab title="Patients" >  

<p:poll interval="60"   
                                listener="#{basicApplicationBean.increment}" update="panel2234567x90op" /> 

<p:panel id="panel2234567x90op" header="My Patients" style="margin-bottom:10px;" styleClass="mypaneldoctor"> 

                                <p:dataTable var="patient" value="#{basicApplicationBean.patients}" rowKey="#{patient.id}" paginator="true" rows="10"  
                                             selection="#{basicApplicationBean.selectedPatient}" selectionMode="single" filteredValue="#{basicApplicationBean.filteredPatient}" id="patientsTable"
                                             styleClass="datatablenephron" tableStyleClass="datatablenephron" rendered="#{basicApplicationBean.boneview}">  



                                   

                                    <p:column headerText="ID" sortBy="#{patient.id}" filterBy="#{patient.id}" id="pid" style="text-align:center">  
                                        #{patient.id}  
                                    </p:column>  

                                    <p:column headerText="First Name" sortBy="#{patient.firstName}" filterBy="#{patient.firstName}" id="pfname" style="text-align:center">  
                                        #{patient.firstName}  
                                    </p:column>  

                                    <p:column headerText="Fathers Name" sortBy="#{patient.fatherName}" filterBy="#{patient.fatherName}" id="pfathername" style="text-align:center">  
                                        #{patient.fatherName}  
                                    </p:column>  

                                    <p:column headerText="Last Name" sortBy="#{patient.lastName}" filterBy="#{patient.lastName}" id="plname" style="text-align:center">  
                                        #{patient.lastName}  
                                    </p:column>  



                                    


                                    <f:facet name="footer">
                                        <p:commandButton id="editusers" value="View" 
                                                         
                                                         
                                                      
                                                         actionListener="#{basicApplicationBean.edituser1()}"
                                                         action="#{timeLine.loadTimeline()}"
                                                         
                                                         styleClass="myCustomStyle, .ui-widget-content myCustomStyle"
                                                         type="submit"
                                                         >

                                            <f:param name="userID" value="#{patient.id}" />

                                        </p:commandButton>
                                        
                                    </f:facet>

                                </p:dataTable>  
    
    <p:dataTable var="patient" value="#{basicApplicationBean.patients}" rowKey="#{patient.id}" paginator="true" rows="10"  
                                             selection="#{basicApplicationBean.selectedPatient}" selectionMode="single" filteredValue="#{basicApplicationBean.filteredPatient}" id="patientsTablec"
                                             styleClass="datatablenephron" tableStyleClass="datatablenephron" rendered="#{basicApplicationBean.bmview}">  



                                   

                                    <p:column headerText="ID" sortBy="#{patient.id}" filterBy="#{patient.id}" id="pidc" style="text-align:center">  
                                        #{patient.id}  
                                    </p:column>  

                                    <p:column headerText="First Name" sortBy="#{patient.firstName}" filterBy="#{patient.firstName}" id="pfnamec" style="text-align:center">  
                                        #{patient.firstName}  
                                    </p:column>  

                                    <p:column headerText="Fathers Name" sortBy="#{patient.fatherName}" filterBy="#{patient.fatherName}" id="pfathernamec" style="text-align:center">  
                                        #{patient.fatherName}  
                                    </p:column>  

                                    <p:column headerText="Last Name" sortBy="#{patient.lastName}" filterBy="#{patient.lastName}" id="plnamec" style="text-align:center">  
                                        #{patient.lastName}  
                                    </p:column>  



                                    <p:column headerText="Actions" style="text-align:center">  
                                        <p:commandButton id="editusersc" value="View" 
                                                         
                                                         
                                                      
                                                         actionListener="#{basicApplicationBean.edituser1()}"
                                                         action="#{timeLine.loadTimeline()}"
                                                         
                                                         styleClass="myCustomStyle, .ui-widget-content myCustomStyle"
                                                         type="submit"
                                                         >

                                            <f:param name="userID" value="#{patient.id}" />
<f:setPropertyActionListener  value="#{patient}" target="#{basicApplicationBean.selectedPatient}" />
                                        </p:commandButton>
                                    </p:column>  




                                </p:dataTable>  
</p:panel>


                            </p:tab>  

                            <p:tab title="Last 48hr Alerts">  

                                <p:dataTable var="patientdss" value="#{basicApplicationBean.sumups}"  paginator="true" rows="10"  
                                             id="patientsdssTable"
                                             emptyMessage="No Alerts found with given criteria" filteredValue="#{basicApplicationBean.filteredsumups}"
                                             styleClass="datatablenephron" tableStyleClass="datatablenephron">  



                                    <f:facet name="header">  
                                        WAKD Alerts and DSS Alerts  
                                    </f:facet>  

                                    <p:column headerText="ID" id="dsspid" style="text-align:center">  
                                        #{patientdss.id}  
                                    </p:column>  



                                    <p:column id="modelColumn" filterBy="#{patientdss.ruleresults}"   
                                              headerText="Patient"   
                                              filterMatchMode="contains" style="text-align:center">  
                                        <h:outputText value="#{patientdss.ruleresults}" />  
                                    </p:column> 





                                    
                                      <p:column id="manufacturerColumn" filterBy="#{patientdss.ruleresults1}"   
                                              headerText="Message"   
                                              filterOptions="#{basicApplicationBean.alertOptions}"  
                                              filterMatchMode="exact" style="text-align:center">  
                                        <h:outputText value="#{patientdss.ruleresults1}" />  
                                    </p:column>
                                    
                                    
                                    <p:column headerText="Date"  id="dssplname22Date" style="text-align:center">  
                                        #{patientdss.ruleresults2}  
                                    </p:column>  





                                </p:dataTable>  

                            </p:tab>  
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                                                        <p:tab title="Last 48hr Critical Alerts">  

                                <p:dataTable var="patientdssc" value="#{basicApplicationBean.sumupsc}"  paginator="true" rows="10"  
                                             id="patientsdssTablec"
                                             emptyMessage="No Alerts found with given criteria" 
                                             styleClass="datatablenephron" tableStyleClass="datatablenephron">  



                                    <f:facet name="header">  
                                        WAKD Alerts and DSS Alerts  
                                    </f:facet>  

                                    <p:column headerText="ID" id="dsspidc" style="text-align:center">  
                                        #{patientdssc.id}  
                                    </p:column>  



                                    <p:column id="modelColumnc" filterBy="#{patientdss.ruleresults}"   
                                              headerText="Patient"   
                                              >
                                        <h:outputText value="#{patientdssc.ruleresults}" />  
                                    </p:column> 





                                    
                                      <p:column id="manufacturerColumnc" filterBy="#{patientdss.ruleresults1}"   
                                              headerText="Message"   
                                              >
                                        <h:outputText value="#{patientdssc.ruleresults1}" />  
                                    </p:column>
                                    
                                    
                                    <p:column headerText="Date"  id="dssplname22Datec" style="text-align:center">  
                                        #{patientdssc.ruleresults2}  
                                    </p:column>  





                                </p:dataTable>  

                            </p:tab>  
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            

                        </p:tabView>    
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
