<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Welcome to NEPHRON+</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />


            </f:facet>
            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none;
                    border-color:#fff;
                }
                .ui-layout-north .ui-layout-unit-content{background-color:#fff;}





                .companyHeaderGrid tr, .companyHeaderGrid td {
                    border: none;
                    font-size: 15px;color:white;
                    padding: 12px 12px;
                }

                .companyHeaderGrid2 tr, .companyHeaderGrid2 td {

                    border-bottom-color: #66cccc;
                    border-width: thick;
                    border-top-color: #66cccc;
                    border-left-color: #66cccc;
                    border-right-color: #66cccc;
                }
                .myCustomStyle {
                    border-width:1px;
                    border-color: #b95c9c!important;
                    border-style: solid;
                    text-align: center;
                    font-size: 10px!important;color:white!important;
                    font-weight: bold!important;
                    background: #b95c9c!important;

                    width: 100%;
                }
                .ui-layout .ui-layout-north {
                    z-index: 100 !important;
                    overflow: hidden !important;
                    overflow-x: hidden!important;
                    overflow-y: hidden!important;

                }
            </style>
        </h:head>
        <h:body >
            <h:form id="form"> 
                <p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />
 
<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    
    <p:graphicImage value="images/ajax-loader.gif" />
</p:dialog>
                
                
                
                <p:layout fullPage="true">
                    <p:layoutUnit position="north" size="120" gutter="0"  >
                        <ui:include src="header_i.xhtml"></ui:include>
                    </p:layoutUnit>
                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 NEPHRON+ Funded by EC FP7
                        </div>
                    </p:layoutUnit>
                    <p:layoutUnit position="center">
                        <center>     
                            <br/>
                            <p:messages id="messages" showDetail="true" autoUpdate="true"/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <h:panelGroup id="viewArea" layout="block" >
                                <p:outputLabel value="Wrong Username or Password"  style="font-size: 13px;color:#FF0000;" />
                                <p:panelGrid columns="1" styleClass="companyHeaderGrid2">
                                    
                                    <p:panelGrid columns="2" styleClass="companyHeaderGrid">
                                        <p:outputLabel for="username" value="Username:" style="font-size: 13px;color:#66cccc;" />
                                        <p:inputText  value="#{loginManager.username}" 
                                                      id="username" required="true" label="username" />
                                        <p:outputLabel for="password" value="Password:"  style="font-size: 13px;color:#66cccc;" />
                                        <p:password  value="#{loginManager.password}" 
                                                     id="password" required="true" label="password" />
                                        <br/>
                                        <p:commandButton id="mybutton" value="Login" 


                                                         action="#{loginManager.login}" 
                                                         type="submit"
                                                         styleClass="myCustomStyle, .ui-widget-content myCustomStyle"
                                                         
                                                         >
                                        </p:commandButton>
                                                  
                                         
                                    </p:panelGrid>
                                </p:panelGrid>
                            </h:panelGroup>
                        </center>
                    </p:layoutUnit>
                </p:layout>
            </h:form>
        </h:body>
    </f:view>
</html>

