<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>NEPHRON+ Measurements</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
                         
            </f:facet>

            
            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none;
                }
            </style>
            
                        <style type="text/css">


                .datatablenephron tr, .datatablenephron td {

                    border-bottom-color: #66cccc;
                    border-top-color: #66cccc;
                    border-left-color: #66cccc;
                    border-right-color: #66cccc;
                }

                .myCustomStyle {
                    border-width:0px;
                    border-color: #b95c9c!important;
                    border-style: solid;
                    text-align: center;
                    font-size: 13px!important;color:white!important;
                    font-weight: bold!important;
                    background: #b95c9c!important;

                    width: 100%;

                }

                .datatablenephron.ui-datatable .ui-datatable-header{
                    background: #c5eded !important;

                }

                .datatablenephron.ui-datatable .ui-paginator {
                    background: #c5eded !important;
                }
                
                .ui-datatable.datatablenephron th {
                    background: #66cccc;
                    font-family: verdana;
                    font-size: 1em;
                }


                .panelnephron.ui-panel .ui-panel-titlebar {
    padding: 0;
    background: #66cccc!important;
}

            </style>


        </h:head>

        <h:body>
<!--            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>-->

            <h:form id="form"> 
                
                <p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />
 
<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    
    <p:graphicImage value="images/ajax-loader.gif" />
</p:dialog>
                
                
                <f:metadata>  
                    <f:viewParam name="userID" value="#{tableBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

            <p:layoutUnit position="north" size="120" gutter="0"  >
                        <ui:include src="header_i.xhtml"></ui:include>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 NEPHRON+ Funded by EC FP7
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" rendered="#{loginManager.loginerror}">
                        <h:outputLabel value="Please Login" />
                    </p:layoutUnit>
                    
                    <p:layoutUnit position="center" rendered="#{loginManager.loginok}">

                        <p:menubar styleClass="mymenucss">  
                            <p:menuitem value="Home" url="DashBoard.xhtml"  icon="ui-icon-home"/>
                            
                            <p:menuitem value="#{personalInfo.firstname} #{personalInfo.lastname} Measurements" url="Measurments.xhtml"   icon="ui-icon-play"/>


                        </p:menubar>

                        <p:panel id="panel" header="Measurements Filter" style="margin-bottom:10px;" styleClass="panelnephron">  
                            <p:panelGrid columns="9">
                                <h:outputLabel for="typemdm" value="Preset : " />
                                <p:selectOneMenu id="typemdm" value="#{wakdmess.preset}">
                                    <f:selectItem itemLabel="Daily"   itemValue="0" />
                                    <f:selectItem itemLabel="Weekly"   itemValue="1" />
                                    <f:selectItem itemLabel="Custom"   itemValue="2" />
                                    <f:ajax render="ajaxTarget" />
                                </p:selectOneMenu>
                                <p:outputPanel id="ajaxTarget">
                                    <h:outputLabel for="dateto" value="Date From : " rendered="#{wakdmess.preset == 2}"/>
                                    <p:calendar value="#{wakdmess.dateFromM}"  id="dateto" showOn="button" style="width:270px" pattern="dd/MM/yyyy HH:mm" rendered="#{wakdmess.preset == 2}">
                                    </p:calendar>
                                    
                                    <h:outputLabel for="datefrom" value="Date To : " rendered="#{wakdmess.preset == 2}"/>
                                    <p:calendar value="#{wakdmess.dateToM}"  id="datefrom" showOn="button" style="width:270px" pattern="dd/MM/yyyy HH:mm" rendered="#{wakdmess.preset == 2}">
                                    </p:calendar>
                                    
                                </p:outputPanel>
                                <h:outputLabel for="typemm" value="Type : " />
                                <p:selectOneMenu id="typemm" value="#{wakdmess.number}">
                                    <f:selectItem itemLabel="All"   itemValue="All" />
                                    <f:selectItem itemLabel="Conductivity Dialysate"   itemValue="Condactivity Dialysate" />
                                    <f:selectItem itemLabel="Pressure Bloodline"   itemValue="Pressure Bloodline" />
                                    <f:selectItem itemLabel="Pressure Dialysate"  itemValue="Pressure Dialysate" />
                                    <f:selectItem itemLabel="Temperature Bloodline In"   itemValue="Temp IN" />
                                    <f:selectItem itemLabel="Temperature Bloodline Out"   itemValue="Temp OUT" />
                                    <f:selectItem itemLabel="Temperature Dialysate In"   itemValue="Inlet Temp" />
                                    <f:selectItem itemLabel="Temperature Dialysate Out"   itemValue="Outlet Temp" />
                                    <f:selectItem itemLabel="Inlet pH"   itemValue="Inlet PH" />
                                    <f:selectItem itemLabel="Outlet pH"   itemValue="Outlet PH" />
                                    <f:selectItem itemLabel="Inlet Potassium"   itemValue="Inlet Potasium" />
                                    <f:selectItem itemLabel="Outlet Potassium"   itemValue="Outlet Potasium" />

                                    <f:selectItem itemLabel="Inlet Calcium"   itemValue="Inlet Calcium" />
                                    <f:selectItem itemLabel="Outlet Calcium"   itemValue="Outlet Calcium" />

                                    <f:selectItem itemLabel="Oxidation State"   itemValue="Inlet Uria" />
                                    <!--                                    <f:selectItem itemLabel="Outlet Uria"   itemValue="Outlet Uria" />-->
                                    <f:selectItem itemLabel="Blood pressure Diastolic"   itemValue="Diastolic" />

                                    <f:selectItem itemLabel="Heart Rate"   itemValue="Heartrate" />
                                    <f:selectItem itemLabel="Blood pressure Systolic"   itemValue="Systolic" />

                                    <!--                                    <f:selectItem itemLabel="Bodyfat"   itemValue="Bodyfat" />-->
                                    <f:selectItem itemLabel="Weight"   itemValue="Weight" />
                                </p:selectOneMenu> 
                                <p:commandButton value="Refresh" update="panel2234567,sensorsTable" id="ajax"  
                                                 actionListener="#{wakdmess.UpdateRecords}" styleClass="myCustomStyle, .ui-widget-content myCustomStyle"/>
                            </p:panelGrid>
                        </p:panel>

                        <p:poll interval="#{wakdmess.brefresh}"   
                                listener="#{wakdmess.increment}" update="panel2234567" /> 

                        <p:panel id="panel2234567" header="Measurements Data" style="margin-bottom:10px;" styleClass="panelnephron"> 
                            <p:dataTable var="sensordata" value="#{wakdmess.sensors}"  paginator="true" rows="16"  
                                         id="sensorsTable" styleClass="datatablenephron" tableStyleClass="datatablenephron">  






                                <p:column headerText="Date"  id="dsspfname" style="text-align:center">  
                                    <h:outputText value="#{sensordata.time}"/>  
                                </p:column>  

                                <p:column headerText="Type"  id="dsspfaname" style="text-align:center">  
                                    <h:outputText value="#{sensordata.typename}"/>  
                                </p:column>  

                                <p:column headerText="Value"  id="dssplname" style="text-align:center">  
                                    <h:outputText value="#{sensordata.value}"/>  
                                </p:column>  
                                
                                <p:column headerText="Unit"  id="unitname" style="text-align:center">  
                                    <h:outputText value="#{sensordata.units}"/>  
                                </p:column>  






                            </p:dataTable>  

                        </p:panel> 

                        <h:panelGrid columns="2">  
                            <p:panel header="Export All Data">  
                                <h:commandLink>  
                                    <p:graphicImage value="/images/excel.png" />  
                                    <p:dataExporter type="xls" target="sensorsTable" fileName="sensorsTable" />  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/pdf.png" />  
                                    <p:dataExporter type="pdf" target="sensorsTable" fileName="sensorsTable"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/csv.png" />  
                                    <p:dataExporter type="csv" target="sensorsTable" fileName="sensorsTable" />  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/xml.png" />  
                                    <p:dataExporter type="xml" target="sensorsTable" fileName="sensorsTable" />  
                                </h:commandLink>  
                            </p:panel>  

                            <p:panel header="Export Page Data">  
                                <h:commandLink>  
                                    <p:graphicImage value="/images/excel.png" />  
                                    <p:dataExporter type="xls" target="sensorsTable" fileName="sensorsTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/pdf.png" />  
                                    <p:dataExporter type="pdf" target="sensorsTable" fileName="sensorsTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/csv.png" />  
                                    <p:dataExporter type="csv" target="sensorsTable" fileName="sensorsTable" pageOnly="true"/>  
                                </h:commandLink>  

                                <h:commandLink>  
                                    <p:graphicImage value="/images/xml.png" />  
                                    <p:dataExporter type="xml" target="sensorsTable" fileName="sensorsTable" pageOnly="true"/>  
                                </h:commandLink>  
                            </p:panel>  
                        </h:panelGrid>  

                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
