<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    
    xmlns:p="http://primefaces.org/ui">

    
    <style>  
        .mymenucss{
            background-color: #c5eded!important;
        }
        
        .mymenucss.ui-menu .ui-menu .ui-menu-parent,
        .ui-menu-list .ui-widget-header,
        .ui-menu .ui-widget-header h1
        {
            background: #66cccc!important;
            
            
    
    background-size: 100% 100%!important;
    
            
        }
    </style>
    
    <p:menu rendered="#{loginManager.loginerror}">
        <p:submenu label="Login">
            <p:menuitem value="Login" url="index.xhtml" />
        </p:submenu>
    </p:menu>
    
    <p:menu rendered="#{loginManager.loginok}" styleClass="mymenucss">  
        
        <p:submenu label="Home">
            <p:menuitem value="My Patients" action="#{basicApplicationBean.LoadDash}"/>
            <p:menuitem value="Logout" action="#{loginManager.logout}" /> 
        </p:submenu>
        
        <p:submenu label="Patient">
            <p:menuitem value="Time Line" action="#{timeLine.loadTimeline()}" />
            <p:menuitem value="Personal Details" action="#{personalInfo.edituser()}"/>
        </p:submenu>
        
        <p:submenu label="Patient Measurements">
            <p:menuitem value="Measurements" action="#{wakdmess.loadmeasurments}" />
            <p:menuitem value="ECG" action="#{ecgCharts.LoadECGList}" />
            <p:menuitem value="Charts" action="#{chartBean.loadmeasurments}"/>
        </p:submenu>
        
        <p:submenu label="WAKD">
            <p:menuitem value="Alerts" action="#{alertsBean.LoadAlertsPage}" />
            <p:menuitem value="Status" url="WAKDStatus.xhtml" />
        </p:submenu>
        
    </p:menu>
</ui:composition>