<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>NEPHRON+ WAKD Status</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
                 
            </f:facet>

           

            <style type="text/css">
        .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
             border: none;
        }
    </style>
    
    <style type="text/css">


                .datatablenephron tr, .datatablenephron td {

                    border-bottom-color: #66cccc;
                    border-top-color: #66cccc;
                    border-left-color: #66cccc;
                    border-right-color: #66cccc;
                }

                .myCustomStyle {
            border-width:0px;
                    border-color: #b95c9c!important;
                    border-style: solid;
                    text-align: center;
                    font-size: 13px!important;color:white!important;
                    font-weight: bold!important;
                    background: #b95c9c!important;

                    width: 100%;

                }

                .datatablenephron.ui-datatable .ui-datatable-header{
                    background: #c5eded !important;

                }

                .datatablenephron.ui-datatable .ui-paginator {
                    background: #c5eded !important;
                }
                
                .ui-datatable.datatablenephron th {
                    background: #66cccc;
                    font-family: verdana;
                    font-size: 1em;
                }


                .panelnephron.ui-panel .ui-panel-titlebar {
    padding: 0;
    background: #66cccc!important;
}
.companyHeaderGrid2 tr, .companyHeaderGrid2 td {
    
    border-bottom-color: #66cccc;
    
    border-top-color: #66cccc;
    border-left-color: #66cccc;
    border-right-color: #66cccc;
}

.companyHeaderGrid2.ui-panelgrid .ui-panelgrid-titlebar {
     background: #66cccc!important;
}
            </style>
            
        </h:head>

        <h:body>
<!--            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>-->

            <h:form id="form"> 
                
                <p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />
 
<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    
    <p:graphicImage value="images/ajax-loader.gif" />
</p:dialog>
                
                
                <f:metadata>  
                    <f:viewParam name="userID" value="#{tableBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

                   <p:layoutUnit position="north" size="120" gutter="0"  >
                        <ui:include src="header_i.xhtml"></ui:include>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 NEPHRON+ Funded by EC FP7
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" >
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" rendered="#{loginManager.loginerror}">
                        <h:outputLabel value="Please Login" />
                    </p:layoutUnit>
                    
                    <p:layoutUnit position="center" rendered="#{loginManager.loginok}">

<p:menubar styleClass="mymenucss">  
    <p:menuitem value="Home" url="DashBoard.xhtml"  icon="ui-icon-home"/>

    <p:menuitem value="#{personalInfo.firstname} #{personalInfo.lastname} WAKD Status" url="WAKDStatus.xhtml"   icon="ui-icon-play"/>
  
      
</p:menubar>
<p:poll interval="10"   
            listener="#{wakdstatusbean.increment}" update="panelstatuslist" /> 
<br/>
<br/>
<br/>
                        <p:panelGrid id="panelstatuslist" columns="2"   styleClass="companyHeaderGrid2">  
                            <f:facet name="header">  
                                WAKD Status  
                            </f:facet>  

                            <h:outputLabel  value="Control Target Weight : " />  

                            <h:outputLabel  value="#{wakdstatusbean.wakdweight}" />  

                            <h:outputLabel  value="Battery Status : " />  
                            <h:outputLabel  value="#{wakdstatusbean.batterystatus}" />  

                            <h:outputLabel  value="Current Status : " />  
                            <h:outputLabel  value="#{wakdstatusbean.currentstatus}" />  

                            <h:outputLabel  value="Operation Status : " />  
                            <h:outputLabel  value="#{wakdstatusbean.opstatus}" />  


                            <h:outputLabel  value="Bloodline Outlet temperature : " />  
                            <h:outputLabel  value="#{wakdstatusbean.temperature} °C" />  



                            <f:facet name="footer">  

                                <h:form id="formshutdown"> 


                                    <p:commandButton value="Shutdown WAKD" actionListener="#{wakdstatusbean.shutdownWAKDListener}"   
                                                     ajax="false"  styleClass="myCustomStyle, .ui-widget-content myCustomStyle"/> 
                                </h:form>
                            </f:facet>  
                        </p:panelGrid>





                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
