<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>NEPHRON+ Administration</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
           
            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>
            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none;
                }

                .datatablenephron tr, .datatablenephron td {

                    border-bottom-color: #66cccc;
                    border-top-color: #66cccc;
                    border-left-color: #66cccc;
                    border-right-color: #66cccc;
                }

                .myCustomStyle {
                    border-width:0px;
                    border-color: #66cccc!important;
                    border-style: solid;
                    text-align: center;
                    font-size: 13px!important;color:white!important;
                    font-weight: bold!important;
                    background: #66cccc!important;

                    width: 50%;

                }

                .datatablenephron.ui-datatable .ui-datatable-header{
                    background: #c5eded !important;

                }

                .datatablenephron.ui-datatable .ui-paginator {
                    background: #c5eded !important;
                }
                
                .ui-datatable.datatablenephron th {
                    background: #66cccc;
                    font-family: verdana;
                    font-size: 1em;
                }

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, 
.ui-tabs .ui-tabs-nav li.ui-state-disabled a, 
.ui-tabs .ui-tabs-nav li.ui-state-processing a { 
    cursor: text; 
    background-color: #fff;
}

.ui-tabs .ui-tabs-nav li a, 
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
    cursor: pointer; 
    
    background-color: #66cccc;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

            </style>

            <style>  
        .mymenucss{
            background-color: #b95c9c!important;
            font-weight: bold!important;
        }
        
        .mymenucss.ui-menu .ui-menu .ui-menu-parent,
        .ui-menu-list .ui-widget-header,
        .ui-menu .ui-widget-header h1
        {
            background: #b95c9c!important;
            
            
    
    background-size: 100% 100%!important;
    font-weight: bold!important;
            
        }
 
    </style>
        </h:head>

        <h:body>

            <h:form id="form"> 
<p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />
 
<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    
    <p:graphicImage value="images/ajax-loader.gif" />
</p:dialog>
                <p:layout fullPage="true">

                 <p:layoutUnit position="north" size="190" gutter="0"  >
                        <ui:include src="header_i.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 NEPHRON+ Funded by EC FP7
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

<p:layoutUnit position="center" rendered="#{loginManager.loginerror}">
                        <h:outputLabel value="Please Login" />
                    </p:layoutUnit>
                    
                    <p:layoutUnit position="center" rendered="#{loginManager.loginok}">
                       <p:menubar styleClass="mymenucss">
	<p:menuitem value="Home" url="DashBoard.xhtml" icon="ui-icon-home"/>
        <p:menuitem value="Doctors" url="DoctorPage.xhtml" icon="ui-icon-play"/>
        <p:menuitem value="Edit Doctor" url="Edit_Doctor.xhtml" icon="ui-icon-play"/>
	<p:menuitem value="Logout" action="#{loginManager.logout}" icon="ui-icon-close"/>  
</p:menubar> 
<p:panel header="Edit Doctor" style="width: 90%"> 
                      
                                <p:messages id="messages" showDetail="true" autoUpdate="true"/>
                        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5"> 

                            <h:outputText value="*Title : " />  
                            <p:inputText id="field1" value="#{doctorsBean.title}" required="true" requiredMessage="Title is required">  

                            </p:inputText> 

                            <h:outputText value="*Name : " />  
                            <p:inputText id="field12" value="#{doctorsBean.firstName}" required="true" requiredMessage="Name is required">  

                            </p:inputText> 

                            <h:outputText value="*Father Name : " />  
                            <p:inputText id="field16" value="#{doctorsBean.fatherName}" required="true" requiredMessage="Fathers Name is required">  

                            </p:inputText> 

                            <h:outputText value="*Lastname : " />  
                            <p:inputText id="field14" value="#{doctorsBean.lastName}" required="true" requiredMessage="Lastname is required">  

                            </p:inputText> 

                          

                            
</h:panelGrid>
                      
                      
                                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5"> 

                            <h:outputText value="Street : " />  
                            <p:inputText id="field19" value="#{doctorsBean.street}">  

                            </p:inputText> 

                            <h:outputText value="Street Number : " />  
                            <p:inputText id="field2" value="#{doctorsBean.streetNo}">  

                            </p:inputText> 

                            <h:outputText value="Floor : " />  
                            <p:inputText id="field21" value="#{doctorsBean.floor}">  

                            </p:inputText> 

                            <h:outputText value="Postcode : " />  
                            <p:inputText id="field23" value="#{doctorsBean.postCode}">  

                            </p:inputText> 

                            <h:outputText value="City : " />  
                            <p:inputText id="field24" value="#{doctorsBean.city}">  

                            </p:inputText> 

                            <h:outputText value="Country Code : " />  
                            <p:inputText id="field25" value="#{doctorsBean.code}">  

                            </p:inputText> 
</h:panelGrid>
                      
                                <p:messages id="messages2" showDetail="true" autoUpdate="true"/>
                                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5"> 
                            <h:outputText value="Personal Phone Number : " />  
                            <p:inputText id="field26" value="#{doctorsBean.phone}" validatorMessage="Invalid Personal Phone Format">  

                                        <f:validateRegex
		pattern="(^([_0-9-\+])*$)?" />  

                            </p:inputText> 

                            <h:outputText value="Personal Mobile Number : " />  
                            <p:inputText id="field27" value="#{doctorsBean.mobile}" validatorMessage="Invalid Personal Mobile Phone Format">  

                                        <f:validateRegex
		pattern="(^([_0-9-\+])*$)?" />  

                            </p:inputText> 

                            <h:outputText value="Personal Email : " />  
                            <p:inputText id="field28" value="#{doctorsBean.email}" validatorMessage="Invalid Personal Email Format">

                                        <f:validateRegex
		pattern="(^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$)?" />  

                            </p:inputText> 

                            <h:outputText value="Work Mobile Number : " />  
                            <p:inputText id="field29" value="#{doctorsBean.companyMobile}" validatorMessage="Invalid Work Mobile Phone Format">  

                                        <f:validateRegex
		pattern="(^([_0-9-\+])*$)?" />
                            </p:inputText> 

                            <h:outputText value="Work Phone Number : " />  
                            <p:inputText id="field211" value="#{doctorsBean.companyPhone}" validatorMessage="Invalid Work Phone Format">  

                                        <f:validateRegex
		pattern="(^([_0-9-\+])*$)?" />  

                            </p:inputText> 

                            <h:outputText value="Work Email : " />  
                            <p:inputText id="field222" value="#{doctorsBean.companyEmail}" validatorMessage="Invalid Work Email Format">

                                        <f:validateRegex
		pattern="(^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$)?" />  

                            </p:inputText> 
 </h:panelGrid>
                      



                            
                                <p:commandButton id="saveeditdoctor" value="Save" 
                                                 action="#{doctorsBean.saveeditdoctor}"
                                                 type="submit"
                                                 >



                                </p:commandButton>
<p:commandButton id="canceleditdoctor" value="Cancel" 
                                                 action="#{doctorsBean.canceldoctor}"
                                                 type="submit"
                                                 immediate="true"
                                                 >



                                </p:commandButton>

 </p:panel>

                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>


<!--                            <h:outputText value="Marital Status " />  
                            <p:inputText id="field17" value="#{doctorsBean.maritalStatus}">  

                            </p:inputText> 

                            <h:outputText value="Edicational Level " />  
                            <p:inputText id="field18" value="#{doctorsBean.educationalLevel}">  

                            </p:inputText> -->