/* 
    Document   : esponder
    Created on : 23 Αυγ 2012, 9:12:55 μμ
    Author     : Thomas
    Description:
*/

#header-e1 {
    /*background-image: url(../images/new/top.png);*/
   background-repeat: no-repeat;
    background-color: #111116;
    width:100%;
    height: 110px;
}

#header-e2 {
    position:absolute;
   left:30px;
   top:18px;
}

.companyHeaderGrid tr, .companyHeaderGrid td {
    border: none !important;
}


.emp1 .fc-event-skin {
    color: white;
}
.emp2 .fc-event-skin {
   color: black;
 }
