/* 
    Document   : esponder
    Created on : 23 Αυγ 2012, 9:12:55 μμ
    Author     : Thomas
    Description:
*/

/*
#header-e1 {
    position:absolute;
   left:30px;
   top:30px;
}



#header-e3 {
    position:absolute;
     left:60px;
     background-color: #965481;     
     
}*/

#header-e1 {
    background-image: url(../images/new/top.png);
    background-repeat: no-repeat;
    background-color: #965481;
    width:100%;
    height: 110px;
}

#header-e2 {
    position:absolute;
   left:30px;
   top:18px;
}

.companyHeaderGrid tr, .companyHeaderGrid td {
    border: none !important;
}


.emp1 .fc-event-skin {
    color: white;
}
.emp2 .fc-event-skin {
   color: black;
 }

 .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
    border: none;
}


