<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta http-equiv='cache-control' content='no-cache'/>
	<meta http-equiv='expires' content='0'/>
	<meta http-equiv='pragma' content='no-cache'/>

                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>NEPHRON+ Patient DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
                
            </f:facet>

           

            <style type="text/css">
                .ui-layout .ui-layout-north {
                    z-index: 100 !important;
                    overflow: hidden !important;
                    overflow-x: hidden!important;
                    overflow-y: hidden!important;

                }
                .ui-layout-unit-top .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-north .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-south .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-center .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-header{
                    background-color: #111116 !important;
                    border:none!important;
                    border-color: #111116;
                }

                .ui-layout-unit-content{
                    background-color: #111116;
                    border: none!important;
                    border-color: #111116;
                }

                .ui-layout-pane-north.ui-widget-content,.ui-layout-unit-north{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout-pane-south.ui-widget-content,.ui-layout-unit-south{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout-pane-center.ui-widget-content,.ui-layout-unit-center{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd, .ui-layout-unit-top, .ui-layout-bd,.ui-layout-pane-north.ui-widget-content{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }  

                .datatablenephron tr, .datatablenephron td {

                    border-bottom-color: #66cccc;
                    border-top-color: #66cccc;
                    border-left-color: #66cccc;
                    border-right-color: #66cccc;
                }

                .myCustomStyle {
                    border-width:0px;
                    border-color: #663260!important;
                    border-style: solid;
                    text-align: center;
                    font-size: 13px!important;color:white!important;
                    font-weight: bold!important;
                    background: #663260!important;

                    width: 50%;

                }

                .datatablenephron.ui-datatable .ui-datatable-header{
                    background: #43434d !important;
                    font-size: 13px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                    border: none;
                }

                .datatablenephron.ui-datatable .ui-paginator {
                    background: #43434d !important;
                    border: none;
                }

                .ui-datatable.datatablenephron th {
                    background: #11111b;
                    font-family: verdana;
                    font-size: 1em;
                }

                .ui-widget-content .ui-datatable-odd .ui-state-highlight 
                {
                    background: #f4427e !important;                    
                }

                .datatablenephron.ui-datatable .ui-widget-content .ui-datatable-odd .ui-state-highlight 
                {
                    background: #f4427e !important;                    
                }

                .ui-state-hover, .ui-widget-content .ui-state-hover 
                {
                    background: #f4427e !important;                    
                }
                .datatablenephron.ui-datatable .ui-state-hover, .ui-widget-content .ui-state-hover 
                {
                    background: #f4427e !important;                    
                }
                .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
                {
                    background: #11111b !important;                    
                }
                .datatablenephron.ui-datatable .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
                {
                    background: #ffffff !important;                    
                }
                .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus 
                {
                    background: #c8c8ca !important;                    
                }

                .datatablenephron.ui-datatable .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus 
                {
                    background: #c8c8ca !important;                    
                }

                .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, 
                .ui-tabs .ui-tabs-nav li.ui-state-disabled a, 
                .ui-tabs .ui-tabs-nav li.ui-state-processing a { 
                    cursor: text; 
                    background-color: #bb3260;
                    font-size: 12px;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                    border: none;

                }

                .ui-tabs .ui-tabs-nav li a, 
                .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
                    cursor: pointer; 

                    background-color: #CCC;
                    font-size: 12px;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                    border: none;
                } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

                .ui-tabs .ui-tabs-nav { 
                    margin: 0px;
                    margin-top: 0px;
                    border: none;
                    background: #11111b url(../images/b1.png) 50% 50% repeat-x !important;color: #11111b !important;border: none;


                }

                .ui-tabs.ui-tabs-top .ui-tabs-nav li { 

                    border:none;


                }
                .ui-tabs .ui-tabs-panel { 

                    border:none;

                }

                .ui-tabs { 

                    position: relative; 
                    border: none;
                    margin:0px;
                    margin-top: 0px;
                    background: #11111b url(../images/b3.png) 50% 50% repeat!important;color: #11111b !important;

                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 0px;

                }

            </style>

            <style>  

                .mymenucss{

                    background: #11111b url(../images/b1.png) 50% 50% repeat-x !important;
                    color: #11111b !important;
                    border: none;
                    height:25px!important;

                    font-size: 11px!important;color:red!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;

                }

                .mymenucss.ui-menu .ui-menu .ui-menu-parent,
                .ui-menu-list .ui-widget-header,
                .ui-menu .ui-widget-header h1
                {


                    font-size: 11px!important;color:black!important;

                    background: #11111b url(../images/b1.png) 50% 50% repeat-x !important;
                    color: #11111b !important;
                    border: none;
                    font-weight: bold!important;

                }

                .companyHeaderGrid {
    border: none;
    background: #43434d;
}

.companyHeaderGrid tr, .companyHeaderGrid td {
    border: none;
    background: #43434d;
}

.panelnephron.ui-panel .ui-panel-titlebar {
    padding: 0;
    background: #43434d!important;
    border: none;
                     font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
}

.panelnephron.ui-panel  {
    padding: 0;
    background: #43434d!important;
    border: none;
    
}
            </style>
            
<style type="text/css">
    
    .ui-timeline-frame {  
        background-color: #43434d;  
    border-color: #5D99C3;  
    border-radius: 20px;
}  
                .ui-timeline-axis {  
                    background-color: #43434d;  
                    
                }  
                .ui-timeline-axis-text {  
                    color: white !important;  
                }  
                .ui-timeline-event {  
                    color: lightgrey !important;  
                    border-radius: 5px;  
                }  
                .ui-timeline-event-content {  
                    padding: 5px;  
                }  
                .green{  
                    background-image: none !important;  
                    background-color: green !important;  
                }  
                .red{  
                    background-image: none !important;  
                    background-color: red !important;  
                }  

                .alarm{  
                    background-image: none !important;  
                    background-color: #b95c9c !important; 
                    font: black!important;
                    color:black!important;
                }  
                
                .blue{  
                    background-image: none !important;  
                    background-color: blue !important;  
                }  
            </style>  

            
            
        </h:head>

        <h:body style="width: 100%; height: 100%;background-color: #11111b;">
<!--            <p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>  

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"   
                      draggable="false" closable="false">  
                <p:graphicImage value="images/ajax-loader.gif" />  
            </p:dialog>-->

            <h:form id="form"> 
                
                <p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />
 
<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    
    <p:graphicImage value="images/ajax-loader.gif" />
</p:dialog>
                
                
                <f:metadata>  
                    <f:viewParam name="userID" value="#{basicApplicationBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

                   <p:layoutUnit position="north" size="120" gutter="0"  >
                        <ui:include src="header_i.xhtml"></ui:include>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 NEPHRON+ Funded by EC FP7
                        </div>

                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" rendered="#{loginManager.loginerror}">
                        <h:outputLabel value="Please Login" />
                    </p:layoutUnit>
                    
                    <p:layoutUnit position="center" rendered="#{loginManager.loginok}">
       
       
                        
                        
                                                                
<p:menubar styleClass="mymenucss">  
    <p:menuitem value="Home" url="DashBoard.xhtml"  icon="ui-icon-home" style="font-size: 11px!important;color:white!important;font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
    <p:menuitem value="#{personalInfo.firstname} #{personalInfo.lastname} Time Line" url="DashBoard_Patient.xhtml"   icon="ui-icon-play"
                style="font-size: 11px!important;color:white!important;font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
   
      
</p:menubar>

                            
                            <p:panel id="panel2234567"  styleClass="panelnephron" style="background: #11111b;border: none;"> 
                                
                            <p:fieldset style="background: #43434d;border: none;">  
                                    <h:panelGrid columns="6"  
                                                 columnClasses="formColumn1,formColumn2,formColumn1,formColumn2" style="background: #43434d;border: none;">  
                                        <h:outputLabel value="Axis Position" style="font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>  
                                        <p:selectOneButton id="axisPosition"  
                                                           value="#{timeLine.axisPosition}">  
                                            <f:selectItem itemLabel="Bottom" itemValue="bottom"/>  
                                            <f:selectItem itemLabel="Top" itemValue="top"/>  
                                            <p:ajax event="change" process="@this" update="timeline"/>  
                                        </p:selectOneButton>  
                                        <h:outputLabel value="Event Style" style="font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>  
                                        <p:selectOneButton id="eventStyle"  
                                                           value="#{timeLine.eventStyle}">  
                                            <f:selectItem itemLabel="Dot" itemValue="dot"/>  
                                            <f:selectItem itemLabel="Box" itemValue="box"/>  
                                            <p:ajax event="change" process="@this" update="timeline"/>  
                                        </p:selectOneButton>  
                                        <h:outputLabel value="Show Navigation" style="font-size: 14px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>  
                                        <p:selectBooleanButton id="navigation" onLabel="Yes" offLabel="No"  
                                                               value="#{timeLine.showNavigation}">  
                                            <p:ajax event="change" process="@this" update="timeline"/>  
                                        </p:selectBooleanButton>  
                                    </h:panelGrid>  
                                </p:fieldset>  

                                <p:spacer width="100%" height="10"/>  


                                <pe:timeline id="timeline" value="#{timeLine.timelines}"

                                             var="event"
                                             axisPosition="#{timeLine.axisPosition}"  
                                             showNavigation="#{timeLine.showNavigation}"  
                                             eventStyle="#{timeLine.eventStyle}"
                                             height="600px" width="100%"
                                             >
                                    <p:ajax event="eventSelect" listener="#{timeLine.onEventSelect}" process="@this"
                                            update="viewDialog" oncomplete="viewDlg.show()"/>
                                    <h:panelGroup layout="block">
                                        <h:outputText value="#{event.startDate}">
                                            <f:convertDateTime pattern="dd MMM yyyy"/>
                                        </h:outputText>
                                        <br/>
                                        <h:outputText value="#{event.title}"/>
                                    </h:panelGroup>
                                </pe:timeline>

                                <p:dialog id="viewDialog" modal="true" dynamic="true" widgetVar="viewDlg"
                                          appendToBody="true" resizable="false" header="Event Details" width="350">
                                    <p:fieldset>
                                        <h:panelGrid columns="2" columnClasses="formColumn1,formColumn2">
                                            <h:outputText value="Date:"/>
                                            <h:outputText value="#{timeLine.selectedEvent.startDate}">
                                                <f:convertDateTime pattern="dd MMM yyyy"/>
                                            </h:outputText>
                                            <h:outputText value="Title:"/>
                                            <h:outputText value="#{timeLine.selectedEvent.title}"/>
                                        </h:panelGrid>
                                    </p:fieldset>
                                    <h:panelGroup layout="block" style="width:100%; text-align: center;padding: 5px;">
                                        <p:commandButton id="close" value="Close" type="button" onclick="viewDlg.hide()"/>
                                    </h:panelGroup>
                                </p:dialog>



</p:panel>
       
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
