<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"

      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>NEPHRON+ DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />


            </f:facet>


            <style type="text/css">
                .ui-layout .ui-layout-north {
                    z-index: 100 !important;
                    overflow: hidden !important;
                    overflow-x: hidden!important;
                    overflow-y: hidden!important;

                }
                .ui-layout-unit-top .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-north .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-south .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-center .ui-layout-bd {
                    border: none;
                    background-color: #111116;
                    border-color: #111116;
                }

                .ui-layout-unit-header{
                    background-color: #111116 !important;
                    border:none!important;
                    border-color: #111116;
                }

                .ui-layout-unit-content{
                    background-color: #111116;
                    border: none!important;
                    border-color: #111116;
                }

                .ui-layout-pane-north.ui-widget-content,.ui-layout-unit-north{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout-pane-south.ui-widget-content,.ui-layout-unit-south{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout-pane-center.ui-widget-content,.ui-layout-unit-center{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }

                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd, .ui-layout-unit-top, .ui-layout-bd,.ui-layout-pane-north.ui-widget-content{
                    border:none!important;
                    border-color: #111116;
                    background: #111116;
                }  

                .datatablenephron tr, .datatablenephron td {

                    border-bottom-color: #66cccc;
                    border-top-color: #66cccc;
                    border-left-color: #66cccc;
                    border-right-color: #66cccc;
                }

                .myCustomStyle {
                    border-width:0px;
                    border-color: #663260!important;
                    border-style: solid;
                    text-align: center;
                    font-size: 13px!important;color:white!important;
                    font-weight: bold!important;
                    background: #663260!important;

                    width: 50%;

                }

                .datatablenephron.ui-datatable .ui-datatable-header{
                    background: #43434d !important;
                    font-size: 13px!important;color:white!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                    border: none;
                }

                .datatablenephron.ui-datatable .ui-paginator {
                    background: #43434d !important;
                    border: none;
                }

                .ui-datatable.datatablenephron th {
                    background: #11111b;
                    font-family: verdana;
                    font-size: 1em;
                }

                .ui-widget-content .ui-datatable-odd .ui-state-highlight 
                {
                    background: #f4427e !important;                    
                }

                .datatablenephron.ui-datatable .ui-widget-content .ui-datatable-odd .ui-state-highlight 
                {
                    background: #f4427e !important;                    
                }

                .ui-state-hover, .ui-widget-content .ui-state-hover 
                {
                    background: #f4427e !important;                    
                }
                .datatablenephron.ui-datatable .ui-state-hover, .ui-widget-content .ui-state-hover 
                {
                    background: #f4427e !important;                    
                }
                .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
                {
                    background: #11111b !important;                    
                }
                .datatablenephron.ui-datatable .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
                {
                    background: #ffffff !important;                    
                }
                .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus 
                {
                    background: #c8c8ca !important;                    
                }

                .datatablenephron.ui-datatable .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus 
                {
                    background: #c8c8ca !important;                    
                }

                .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, 
                .ui-tabs .ui-tabs-nav li.ui-state-disabled a, 
                .ui-tabs .ui-tabs-nav li.ui-state-processing a { 
                    cursor: text; 
                    background-color: #bb3260;
                    font-size: 12px;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                    border: none;

                }

                .ui-tabs .ui-tabs-nav li a, 
                .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
                    cursor: pointer; 

                    background-color: #CCC;
                    font-size: 12px;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;
                    border: none;
                } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

                .ui-tabs .ui-tabs-nav { 
                    margin: 0px;
                    margin-top: 0px;
                    border: none;
                    background: #11111b url(../images/b1.png) 50% 50% repeat-x !important;color: #11111b !important;border: none;


                }

                .ui-tabs.ui-tabs-top .ui-tabs-nav li { 

                    border:none;


                }
                .ui-tabs .ui-tabs-panel { 

                    border:none;

                }

                .ui-tabs { 

                    position: relative; 
                    border: none;
                    margin:0px;
                    margin-top: 0px;
                    background: #11111b url(../images/b3.png) 50% 50% repeat!important;color: #11111b !important;

                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 0px;

                }

            </style>

            <style>  

                .mymenucss{

                    background: #11111b url(../images/b1.png) 50% 50% repeat-x !important;
                    color: #11111b !important;
                    border: none;
                    height:25px!important;

                    font-size: 11px!important;color:red!important;
                    font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;

                }

                .mymenucss.ui-menu .ui-menu .ui-menu-parent,
                .ui-menu-list .ui-widget-header,
                .ui-menu .ui-widget-header h1
                {


                    font-size: 11px!important;color:black!important;

                    background: #11111b url(../images/b1.png) 50% 50% repeat-x !important;
                    color: #11111b !important;
                    border: none;
                    font-weight: bold!important;

                }


            </style>

        </h:head>

        <h:body style="width: 100%; height: 100%;background-color: #11111b;" >
            <h:form id="form"> 

                <p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />

                <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">

                    <p:graphicImage value="images/ajax-loader.gif" />
                </p:dialog>


                <f:metadata>  
                    <f:viewParam name="userID" value="#{basicApplicationBean.useridforedit}" />  

                </f:metadata>
                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="120" gutter="0"  >
                        <ui:include src="header-dash.xhtml"></ui:include>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" resizable="false"  closable="false" collapsible="false">
                        <div class="layout-footer"> Copyright @2013 NEPHRON+ Funded by EC FP7
                        </div>

                    </p:layoutUnit>



                    <p:layoutUnit position="west" size="175" header="Menu" collapsible="true" rendered="#{loginManager.loginerror}">
                        <p:menu rendered="#{loginManager.loginerror}">
                            <p:submenu label="Login">
                                <p:menuitem value="Login" url="index.xhtml" />
                            </p:submenu>
                        </p:menu>

                    </p:layoutUnit>

                    <p:layoutUnit position="center" rendered="#{loginManager.loginerror}">
                        <br/>
                        <br/>
                        <br/>


                        <h:outputLabel value="Please Login using the left Login link." />
                    </p:layoutUnit>

                    <p:layoutUnit position="center" rendered="#{loginManager.loginok}">

                        <p:tabView style="padding: 0px">  



                            <p:tab title="Patients" >  

                                <p:poll interval="60"   
                                        listener="#{basicApplicationBean.increment}" update="patientsTable" /> 



                                <p:dataTable var="patient" value="#{basicApplicationBean.patients}" rowKey="#{patient.id}" paginator="true" rows="10"  
                                             selection="#{basicApplicationBean.selectedPatient}" selectionMode="single" filteredValue="#{basicApplicationBean.filteredPatient}" id="patientsTable"
                                             styleClass="datatablenephron" tableStyleClass="datatablenephron" rendered="#{basicApplicationBean.boneview}">  



                                    <f:facet name="header">  
                                        Patients
                                    </f:facet>  

                                    <p:column headerText="ID" sortBy="#{patient.id}" filterBy="#{patient.id}" id="pid" style="text-align:center">  
                                        #{patient.id}  
                                    </p:column>  

                                    <p:column headerText="First Name" sortBy="#{patient.firstName}" filterBy="#{patient.firstName}" id="pfname" style="text-align:center">  
                                        #{patient.firstName}  
                                    </p:column>  

                                    <p:column headerText="Fathers Name" sortBy="#{patient.fatherName}" filterBy="#{patient.fatherName}" id="pfathername" style="text-align:center">  
                                        #{patient.fatherName}  
                                    </p:column>  

                                    <p:column headerText="Last Name" sortBy="#{patient.lastName}" filterBy="#{patient.lastName}" id="plname" style="text-align:center">  
                                        #{patient.lastName}  
                                    </p:column>  






                                    <f:facet name="footer">
                                        <p:commandButton id="editusers" value="View" 



                                                         actionListener="#{basicApplicationBean.edituser1()}"
                                                         action="#{timeLine.loadTimeline()}"


                                                         type="submit"
                                                         >

                                            <f:param name="userID" value="#{patient.id}" />

                                        </p:commandButton>

                                    </f:facet>

                                </p:dataTable>  

                                <p:dataTable var="patient" value="#{basicApplicationBean.patients}" rowKey="#{patient.id}" paginator="true" rows="10"  
                                             selection="#{basicApplicationBean.selectedPatient}" selectionMode="single" filteredValue="#{basicApplicationBean.filteredPatient}" id="patientsTablec"
                                             styleClass="datatablenephron" tableStyleClass="datatablenephron" rendered="#{basicApplicationBean.bmview}">  


                                    <f:facet name="header">  
                                        Patients
                                    </f:facet>  



                                    <p:column headerText="ID" sortBy="#{patient.id}" filterBy="#{patient.id}" id="pidc" style="text-align:center">  
                                        #{patient.id}  
                                    </p:column>  

                                    <p:column headerText="First Name" sortBy="#{patient.firstName}" filterBy="#{patient.firstName}" id="pfnamec" style="text-align:center">  
                                        #{patient.firstName}  
                                    </p:column>  

                                    <p:column headerText="Fathers Name" sortBy="#{patient.fatherName}" filterBy="#{patient.fatherName}" id="pfathernamec" style="text-align:center">  
                                        #{patient.fatherName}  
                                    </p:column>  

                                    <p:column headerText="Last Name" sortBy="#{patient.lastName}" filterBy="#{patient.lastName}" id="plnamec" style="text-align:center">  
                                        #{patient.lastName}  
                                    </p:column>  



                                    <p:column headerText="Actions" style="text-align:center">  
                                        <p:commandButton id="editusersc" value="View" 



                                                         actionListener="#{basicApplicationBean.edituser1()}"
                                                         action="#{timeLine.loadTimeline()}"


                                                         type="submit"

                                                         >

                                            <f:param name="userID" value="#{patient.id}" />
                                            <f:setPropertyActionListener  value="#{patient}" target="#{basicApplicationBean.selectedPatient}" />
                                        </p:commandButton>
                                    </p:column>  




                                </p:dataTable>  


                            </p:tab>  

                            <p:tab title="Last 48hr Alerts">  

                                <p:dataTable var="patientdss" value="#{basicApplicationBean.sumups}"  paginator="true" rows="10"  
                                             id="patientsdssTable"
                                             emptyMessage="No Alerts found with given criteria" filteredValue="#{basicApplicationBean.filteredsumups}"
                                             styleClass="datatablenephron" tableStyleClass="datatablenephron">  



                                    <f:facet name="header">  
                                        WAKD Alerts and DSS Alerts  
                                    </f:facet>  

                                    


                                    <p:column id="modelColumn" filterBy="#{patientdss.ruleresults}"   
                                              headerText="Patient"   
                                              filterMatchMode="contains" style="text-align:center">  
                                        <h:outputText value="#{patientdss.ruleresults}" style="#{patientdss.stylest}"/>  
                                    </p:column> 






                                    <p:column id="manufacturerColumn" filterBy="#{patientdss.ruleresults1}"   
                                              headerText="Message"   
                                              filterOptions="#{basicApplicationBean.alertOptions}"  
                                              filterMatchMode="exact" style="text-align:center">  
                                        <h:outputText value="#{patientdss.ruleresults1}" style="#{patientdss.stylest}" />  
                                    </p:column>


                                    <p:column headerText="Date"  id="dssplname22Date" style="text-align:center">  
                                        <h:outputText value="#{patientdss.ruleresults2}" style="#{patientdss.stylest}" />    
                                    </p:column>  





                                </p:dataTable>  

                            </p:tab>  













                            <p:tab title="Last 48hr Critical Alerts">  

                                <p:dataTable var="patientdssc" value="#{basicApplicationBean.sumupsc}"  paginator="true" rows="10"  
                                             id="patientsdssTablec"
                                             emptyMessage="No Alerts found with given criteria" 
                                             styleClass="datatablenephron" tableStyleClass="datatablenephron">  



                                    <f:facet name="header">  
                                        Critical WAKD Alerts and DSS Alerts  
                                    </f:facet>  

                                    



                                    <p:column id="modelColumnc" filterBy="#{patientdss.ruleresults}"   
                                              headerText="Patient"   
                                              >
                                        <h:outputText value="#{patientdssc.ruleresults}" />  
                                    </p:column> 






                                    <p:column id="manufacturerColumnc" filterBy="#{patientdss.ruleresults1}"   
                                              headerText="Message"   
                                              >
                                        <h:outputText value="#{patientdssc.ruleresults1}" />  
                                    </p:column>


                                    <p:column headerText="Date"  id="dssplname22Datec" style="text-align:center">  
                                        #{patientdssc.ruleresults2}  
                                    </p:column>  





                                </p:dataTable>  

                            </p:tab>  


















                        </p:tabView>    
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
