<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    
    xmlns:p="http://primefaces.org/ui">



    
    <div id="header-e1">
        <div id="header-e2">
    <p:graphicImage value="images/new/logo.png"  height="80px"/>
</div>
        
          <div id="header-e44">
          <p:menubar styleClass="mymenucss" > 
                            <p:menuitem value="#{basicApplicationBean.doctorname}" url="DashBoard.xhtml"  icon="ui-icon-home" style="font-size: 11px!important;color:white!important;font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>
                            <p:menuitem value="Logout" action="#{loginManager.logout}" icon="ui-icon-close" style="font-size: 11px!important;color:white!important;font-family: Helvetica, Verdana, sans-serif;
                    font-style: oblique;
                    text-shadow: none;"/>  

                        </p:menubar>
</div>
        </div>




</ui:composition>
