<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            
        </h:head>

        <h:body>
            <h:form id="form"> 
                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="190" resizable="false" closable="false" collapsible="false">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175"  collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        New Personnel
                        <p:panelGrid columns="2" cellpadding="5">

                            <p:panelGrid columns="2" cellpadding="5">
                                <p:panelGrid columns="2" cellpadding="5">
                                    <p:outputLabel  for="username0" value="User ID:" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username0" required="true" label="username" />

                                    <p:outputLabel  for="username1" value="ID:" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username1" required="true" label="username" />

                                    <p:outputLabel  for="username22" value="Name:" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username22" required="true" label="username" />

                                    <p:outputLabel  for="username44" value="Surname:" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username44" required="true" label="username" />

                                    <p:outputLabel  for="username123" value="Birth Date:" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username123" required="true" label="username" />

                                </p:panelGrid>
                                
                                <p:panelGrid columns="2" cellpadding="5">
                                    <p:outputLabel for="username03221" value="Occupation:" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username03221" required="true" label="username" />
                                    
                                    <p:outputLabel  for="status22" value="Rank:" />
<p:selectOneMenu value="#{crisiselementsmanagerbean.status}" id="status22" style="width:270px">  
                                                <f:selectItem itemLabel="Select One" itemValue="" />  
                                                <f:selectItem itemLabel="Rank" itemValue="1" />  

                                            </p:selectOneMenu>  
                                    
                                    <p:outputLabel  for="status232322" value="Department:" />
<p:selectOneMenu value="#{crisiselementsmanagerbean.status}" id="status232322" style="width:270px">  
                                                <f:selectItem itemLabel="Select One" itemValue="" />  
                                                <f:selectItem itemLabel="Department" itemValue="1" />  

                                            </p:selectOneMenu>  
                                    
                                    
                                    <p:outputLabel for="statu222s22" value="Speciality:" />
<p:selectOneMenu value="#{crisiselementsmanagerbean.status}" id="statu222s22" style="width:270px">  
                                                <f:selectItem itemLabel="Select One" itemValue="" />  
                                                <f:selectItem itemLabel="Speciality" itemValue="1" />  

                                            </p:selectOneMenu>  

                                </p:panelGrid>
                                
                                <p:panelGrid columns="2" cellpadding="5"></p:panelGrid>
                                <p:panelGrid columns="2" cellpadding="5">
                                    <p:outputLabel  for="username0x" value="Office :" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username0x" required="true" label="username" />

                                    <p:outputLabel  for="username1x" value="Email:" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username1x" required="true" label="username" />

                                    <p:outputLabel  for="username22x" value="Home:" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username22x" required="true" label="username" />

                                    <p:outputLabel  for="username44x" value="Mobile:" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username44x" required="true" label="username" />

                                    <p:outputLabel  for="username123x" value="Other:" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username123x" required="true" label="username" />

                                </p:panelGrid>
                                
                                
                            </p:panelGrid>
                            <f:facet name="footer">
                                <p:commandButton id="savebutton" value="Save" 

                                                 action="#{esponderuser.saveadduser}" 
                                                 type="submit"
                                                 />
                                <p:commandButton id="savebuttonss" value="Cancel" 

                                                 action="#{esponderuser.saveadduser}" 
                                                 type="submit"
                                                 />




                            </f:facet>
                        </p:panelGrid>
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
