<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            
        </h:head>

        <h:body>
            <h:form id="form"> 
                <p:layout fullPage="true">

                <p:layoutUnit position="north" size="190" resizable="false" closable="false" collapsible="false">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        New Hierarchy Node
                        <p:panelGrid columns="2" cellpadding="5">
                            <p:outputLabel  for="status22" value="Category:" />
                                    <p:selectOneMenu value="#{crisiselementsmanagerbean.status}" id="status22" style="width:270px">  
                                                <f:selectItem itemLabel="Select One" itemValue="" />  
                                                <f:selectItem itemLabel="Actor" itemValue="1" />  

                                            </p:selectOneMenu>  
                            </p:panelGrid>
                        <p:panelGrid columns="2" cellpadding="5">

                            <p:panelGrid columns="2" cellpadding="5">
                                <p:panelGrid columns="2" cellpadding="5">
                                    <p:outputLabel  for="username0" value="Name :" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username0" required="true" label="username" />

                                

                                    <p:outputLabel  for="username22" value="Description:" />
                                    <p:inputText value="#{esponderuser.username}" 
                                                 id="username22" required="true" label="username" />

                                    
                                </p:panelGrid>
                                
                                
                                
                                
                                
                            </p:panelGrid>
                            
                            <p:panelGrid columns="3" cellpadding="5">
                            <p:outputLabel  for="status22" value="Position:" />
                                    <p:selectOneMenu value="#{crisiselementsmanagerbean.status}" id="status222222" style="width:270px">  
                                                <f:selectItem itemLabel="Lover Than" itemValue="" />  
                                                <f:selectItem itemLabel="Actor" itemValue="1" />  

                                            </p:selectOneMenu>  
                            
                            <p:selectOneMenu value="#{crisiselementsmanagerbean.status}" id="status2332" style="width:270px">  
                                                <f:selectItem itemLabel="Higher Than" itemValue="" />  
                                                <f:selectItem itemLabel="Actor" itemValue="1" />  

                                            </p:selectOneMenu>  
                            </p:panelGrid>
                            <f:facet name="footer">
                                <p:commandButton id="savebutton" value="Save" 

                                                 action="#{esponderuser.saveadduser}" 
                                                 type="submit"
                                                 />
                                <p:commandButton id="savebuttonss" value="Cancel" 

                                                 action="#{esponderuser.saveadduser}" 
                                                 type="submit"
                                                 />




                            </f:facet>
                        </p:panelGrid>
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
