<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                    <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
             <script type="text/javascript">
function handleDrop(event, ui) {
      var droppedCar = ui.draggable;
      droppedCar.fadeOut('fast');
}
</script>
        </h:head>

        <h:body>
         <h:form>  
             <f:metadata>  
    <f:viewParam name="PersonID" value="#{personnelManager.persontoremove}" />  
    <f:viewParam name="TestParam" value="#{personnelManager.selectedcrisisID}" />  
</f:metadata>  
                <p:layout fullPage="true">

                   <p:layoutUnit position="north" size="190" resizable="false" closable="false" collapsible="false">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175" collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        <p:growl id="messages" />

                        <p:toolbar>
                            <p:toolbarGroup align="left">
                                
                                <p:button outcome="CrisisResource" value="Personnel">  
                                    <f:param name="TestParam" value="#{personnelManager.selectedcrisisID}" />  
                                </p:button> 
                                
<!--                                <p:button outcome="CrisisEquipments" value="Equipments">  
                                    <f:param name="TestParam" value="10" />  
                                </p:button> -->
                                
                                <p:button outcome="CrisisLogistics" value="Logistics">  
                                    <f:param name="TestParam" value="#{personnelManager.selectedcrisisID}" />  
                                </p:button> 
                                
                                <p:button outcome="CrisisOperationCenters" value="Operation Centers">  
                                    <f:param name="TestParam" value="#{personnelManager.selectedcrisisID}" />  
                                </p:button> 
                                
                                
                            </p:toolbarGroup>

                            <p:toolbarGroup align="right">
                                <p:menuButton value="Options">
                                    <p:menuitem value="Crisis Resourse Plan"  />
                                    <p:menuitem value="Custom Criteria"/>

                                </p:menuButton>
                            </p:toolbarGroup>

                        </p:toolbar>
<p:separator style="margin-bottom:10px"/>
                        <p:panelGrid columns="2">  
    <f:facet name="header">  
        Crisis Context
    </f:facet>  
                            <h:outputLabel  value="Crisis Context: " /> 
                       
             <p:selectCheckboxMenu value="#{personnelManager.selectedcrisis}" label="Crisis Context" filter="true" filterText="Filter" filterMatchMode="startsWith" panelStyle="width:220px">
        <f:selectItems value="#{personnelManager.crisis}" />
    </p:selectCheckboxMenu>

 <f:facet name="footer">  

        
         <p:commandButton id="Selectrescrisis" value="Select" 
                                                     action="#{personnelManager.selectcrisisbtn}" 
                                                     type="submit"
                                                     >
         
         </p:commandButton>
    </f:facet>  
</p:panelGrid> 

    

        <p:separator style="margin-bottom:10px"/>
                            
<h:form id="carForm">

    <p:fieldset legend="Resource Plan Information (Personnel)">

        <p:dataGrid id="planinfo" var="ppinfo"
                    value="#{personnelManager.pPersonnelPlanInfo}" columns="6">

            <p:column>

                <p:panel id="pnl" header="#{ppinfo.ptype}" style="text-align:center">
                    <h:panelGrid columns="1" style="width:100%">
                       <h:outputText value="Needed :  #{ppinfo.ineeded}" />
                       <h:outputText value="Selecteded :  #{ppinfo.iselected}" />
                    </h:panelGrid>
                </p:panel>

                <p:draggable for="pnl" revert="true"
                        handle=".ui-panel-titlebar" stack=".ui-panel"/>

            </p:column>

        </p:dataGrid>

    </p:fieldset>
    
    <p:fieldset id="availablepersonnel" legend="Available Personnel">

        <p:dataGrid id="availablecars" var="car"
                    value="#{personnelManager.personnel}" columns="6">

            <p:column>

                <p:panel id="pnl" header="#{car.name}" style="text-align:center">
                    <h:panelGrid columns="1" style="width:100%">
                        <h:outputText value="#{car.title}" />
                        <h:outputText value="#{car.organization}" />
                       <h:outputText value="#{car.position}" />
                    </h:panelGrid>
                </p:panel>

                <p:draggable for="pnl" revert="true"
                        handle=".ui-panel-titlebar" stack=".ui-panel"/>

            </p:column>

        </p:dataGrid>

    </p:fieldset>

    <p:fieldset id="selectedCars" legend="Selected Personnel" style="margin-top:20px">

        <p:outputPanel id="dropArea">

            <h:outputText value="!!!Drop here!!!"
                          rendered="#{empty personnelManager.selectedPersonnel}"
                    style="font-size:24px;" />

            <p:dataTable id="selectedpersonneldt" var="car" value="#{personnelManager.selectedPersonnel}"
                    rendered="#{not empty personnelManager.selectedPersonnel}">

                <p:column headerText="Name">
                    <h:outputText value="#{car.name}" />
                </p:column>

                <p:column headerText="Organization Name">
                    <h:outputText value="#{car.organization}" />
                </p:column> 
                
                <p:column headerText="Organization Type">
                    <h:outputText value="#{car.position}" />
                </p:column>
                
                <p:column headerText="Operations">
                    
                    <p:commandButton id="removeperson" value="Remove" 
                                                     
                                                     action="#{personnelManager.removeperson}" 
                                                     type="submit"
                                                     >
                        <f:param name="PersonID" value="#{car.number}" />
                    </p:commandButton>
                </p:column> 

                 
            </p:dataTable>

        </p:outputPanel>

    </p:fieldset>

    <p:droppable for="selectedCars" tolerance="touch" activeStyleClass="ui-state-highlight" datasource="availablecars" onDrop="handleDrop">
        <p:ajax listener="#{personnelManager.onPersonDrop}" update="planinfo dropArea availablecars" />
    </p:droppable>

   


</h:form> 






                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
