<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            
        </h:head>

        <h:body>
            <h:form id="form"> 
                <p:layout fullPage="true">

               <p:layoutUnit position="north" size="190" resizable="false" closable="false" collapsible="false">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175"  collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">

                        <p:menubar>  
                            <p:submenu label="Local Repository" icon="ui-icon-document">  

                                <p:menuitem value="Delete" url="#" />  
                                <p:menuitem value="Refresh" url="#" />  



                                
                            </p:submenu>  
                            
                            <p:submenu label="Repository Selector" icon="ui-icon-document">  

                                <p:menuitem value="Local" url="#" />  
                                <p:menuitem value="Remote" url="#" />  



                                
                            </p:submenu>  


                        </p:menubar>

                        
                        <iframe src="http://rnd.exodussa.com:8080/guvnor/org.drools.guvnor.Guvnor/Guvnor.jsp?#ModuleEditorPlace:f2bdd4e2-ea2b-4d86-b34b-020c2a2b507a" scrolling="auto"
                                width="100%" height="100%"></iframe>      
      
<!--                        <p:dataTable var="ruleresults" value="#{datafusionWebAdmin.pRules}"
                                     rendered="#{not empty datafusionWebAdmin.pRules}"
                                     paginator="true" rows="30"  
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                 rowsPerPageTemplate="10,20,30,40"
                                     >

                             <f:facet name="header">  
            Rule Results
        </f:facet> 
                            
                            <p:column headerText="RuleName">
                                <h:outputText value="#{ruleresults.szRuleName}" />
                            </p:column>

                            <p:column headerText="Rule Results">
                                <h:outputText value="#{ruleresults.szResultsText1}" />
                            </p:column> 

                            <p:column headerText="Results">
                                <h:outputText value="#{ruleresults.szResultsText2}" />
                            </p:column> 

                            <p:column headerText="Results">
                                <h:outputText value="#{ruleresults.szResultsText3}" />
                            </p:column> 

                            <p:column headerText="Date">
                                <h:outputText value="#{ruleresults.szResultsText4}" />
                            </p:column> 

                        </p:dataTable> -->
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
