crisis manager
<p:commandButton id="editdevice3" value="Crisis Locations" 
                                                             action="#{mapBean.manageSubcrisisFromManager}"
                                                             type="submit"
                                                             >
                                                <f:setPropertyActionListener value="#{crisis}"   
                                                                             target="#{mapBean.pSelectedCrisis}" /> 
                                            </p:commandButton>



dashboard
<p:commandButton id="editdevice3" value="Crisis Locations" 
                                                                 action="#{mapBean.manageSubcrisis}"
                                                                 type="submit"
                                                                 >
                                                    <f:setPropertyActionListener value="#{crisis}"   
                                                                                 target="#{mapBean.pSelectedCrisis}" /> 
                                                </p:commandButton>