<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>

        </h:head>

        <h:body>
            <h:form id="form"> 
                <p:layout fullPage="true">

                    <p:layoutUnit position="north" size="190" resizable="false" closable="false" collapsible="false">
                        <ui:include src="header.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                        <div class="layout-footer"> Copyright @2012 Esponder
                        </div>
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="175"  collapsible="true">
                        <ui:include src="menu.xhtml"></ui:include>

                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        
    <p:panelGrid columns="1"  style="width:610px"> 
                        
                        <p:menubar>  
                            <p:submenu label="Organization" icon="ui-icon-document">  
                                <p:menuitem value="Save" action="#{organizationManager.createOrg}" />  
                                <p:separator />  
                                <p:menuitem value="Quit" url="EsponderDashBoard.xhtml" />  
                            </p:submenu>  
                        </p:menubar>
  
                        <p:panelGrid columns="2"  style="width:610px"> 
                            <h:outputLabel value="Title: *" />  
                            <p:inputText  value="#{organizationManager.title}" style="width:270px"/>  
                            <h:outputLabel value="Street: *" />  
                            <p:inputText  value="#{organizationManager.street}" style="width:270px"/>  
                            <h:outputLabel value="Number: *" />  
                            <p:inputText  value="#{organizationManager.number}" style="width:270px"/>  
                            <h:outputLabel value="Town: *" />  
                            <p:inputText  value="#{organizationManager.town}" style="width:270px"/>  
                            <h:outputLabel value="Zip: *" />  
                            <p:inputText  value="#{organizationManager.zip}" style="width:270px"/>  
                            <h:outputLabel value="Country: *" />  
                            <p:inputText  value="#{organizationManager.country}" style="width:270px"/>  
                           
                            <h:outputLabel value="Responsibility Area Title: *" />  
                            <p:inputText  value="#{organizationManager.ratitle}" style="width:270px"/>  
                                                        <h:outputLabel value="Log: *" />  
                            <p:inputText  value="#{organizationManager.log}" style="width:270px"/>  
                                                        <h:outputLabel value="Lat: *" />  
                            <p:inputText  value="#{organizationManager.lat}" style="width:270px"/>  
                                                        <h:outputLabel value="Alt: *" />  
                            <p:inputText  value="#{organizationManager.alt}" style="width:270px"/>  
                                                        <h:outputLabel value="Radius: *" />  
                            <p:inputText  value="#{organizationManager.radius}" style="width:270px"/>  
                            
                            
                            
                            <h:outputLabel value="Descipline: *" />  
                            <p:selectOneMenu value="#{organizationManager.valuesDisciplineTypeSelected}" id="descipline">  


                                <f:selectItems value="#{organizationManager.valuesDisciplineType}"/>
                            </p:selectOneMenu>   

                            <h:outputLabel value="Organization Type : *" />  
                            <p:selectOneMenu value="#{organizationManager.valuesOrganizationTypeSelected}" id="orgtype">  


                                <f:selectItems value="#{organizationManager.valuesOrganizationType}"/>
                            </p:selectOneMenu>   
                        </p:panelGrid>
        </p:panelGrid>
                    </p:layoutUnit>

                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
