<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                    <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
             
        </h:head>

        <h:body>
<h:form id="form"> 
    <f:metadata>  
        <f:viewParam name="userID" value="#{esponderuser.useridforedit}" />  
             
</f:metadata>
            <p:layout fullPage="true">

              <p:layoutUnit position="north" size="190" resizable="false" closable="false" collapsible="false">
                    <ui:include src="header.xhtml"></ui:include>
                   
                </p:layoutUnit>

                <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                    <div class="layout-footer"> Copyright @2012 Esponder
                </div>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175"  collapsible="true">
                    <ui:include src="menu.xhtml"></ui:include>
                   
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <p:dataTable var="users" value="#{esponderuser.esusers}"
                                 rendered="#{not empty esponderuser.esusers}">
                                     
                        <f:facet name="header">  
            Personnel
        </f:facet> 
                        <p:column headerText="ID">
                            <h:outputText value="#{users.id}" />
                        </p:column>
                            
                        <p:column headerText="Name">
                            <h:outputText value="#{users.username}" />
                        </p:column> 
                            
                        <p:column headerText="Organization">
                            <h:outputText value="#{users.role}" />
                        </p:column> 
                            
                        <p:column headerText="Operations">
                            
                            <p:commandButton id="editusers" value="Edit" 
                                             action="#{esponderuser.edituser()}"
                                                 
                                             type="submit"
                                             >
                                                 
                                <f:param name="userID" value="#{users.id}" />
                            </p:commandButton>
                                
                            <p:commandButton id="removeusers" value="Remove" 
                                             action="#{esponderuser.removeuser()}"
                                                 
                                             type="submit"
                                             >
                                                 
                                <f:param name="userID" value="#{users.id}" />
                            </p:commandButton>
                            
                            <p:commandButton id="removeusers11" value="Deactivate" 
                                             action="#{esponderuser.removeuser()}"
                                                 
                                             type="submit"
                                             >
                                                 
                                <f:param name="userID" value="#{users.id}" />
                            </p:commandButton>
                                
                        </p:column> 
                            
                    </p:dataTable> 
                     <p:commandButton id="addusers" value="Add" 
                                      action="#{esponderuser.adduser()}"
                                     
                                                     type="submit"
                                                     >
                        
                        
                    </p:commandButton>
                </p:layoutUnit>

            </p:layout>
</h:form>
        </h:body>

    </f:view>
</html>
