<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder DashBoard</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                 <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
             
        </h:head>

        <h:body>
<h:form id="form"> 
            <p:layout fullPage="true">

            <p:layoutUnit position="north" size="190" resizable="false" closable="false" collapsible="false">
                    <ui:include src="header.xhtml"></ui:include>
                   
                </p:layoutUnit>

                <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                    <div class="layout-footer"> Copyright @2012 Esponder
                </div>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175"  collapsible="true">
                    <ui:include src="menu.xhtml"></ui:include>
                   
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    
                     <p:panelGrid columns="2" cellpadding="5">
                                 
                                 
                                <p:outputLabel for="username" value="Username:" />
                                <p:inputText value="#{esponderuser.username}" 
                                             id="username" required="true" label="username" />

                                <p:outputLabel for="password" value="Password:" />
                                <p:password  value="#{esponderuser.password}" 
                                               id="password" required="true" label="password" />
                                
                                <p:outputLabel for="role" value="Roles:" />
                                <p:inputText  value="#{esponderuser.role}" 
                                               id="role" required="true" label="role" />

                                <f:facet name="footer">
                                    <p:commandButton id="savebutton" value="Save" 
                                                     
                                                     action="#{esponderuser.saveedituser}" 
                                                     type="submit"
                                                     />
                                    
                                    


                                </f:facet>
                            </p:panelGrid>
                    
                </p:layoutUnit>

            </p:layout>
</h:form>
        </h:body>

    </f:view>
</html>
