<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
       <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Esponder Data Synchronization Server</title>
                <link href="wel/template-2012/stylesheets/ec.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="wel/template-2012/stylesheets/ec.css"  />
                    <link href="stylesheets/esponder.css" media="all" rel="stylesheet" type="text/css"/>
                <h:outputStylesheet library="css" name="stylesheets/esponder.css"  />
            </f:facet>
            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" ></script>
            <script

                src="http://maps.google.com/maps?file=api&amp;v=2&amp;
                key=ABQIAAAAxrVS1QxlpJHXxQ2Vxg2bJBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxS9AOPy_YJl48ifAy4mq6I8SgK8fg"
                type="text/javascript">

            </script>
        </h:head>

        <h:body>

           <h:form id="form"> 
            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="110" resizable="true" closable="true" collapsible="true">
                    <ui:include src="header.xhtml"></ui:include>
                   
                </p:layoutUnit>

                <p:layoutUnit position="south" size="40" closable="true" collapsible="true">
                    <div class="layout-footer"> Copyright @2012 Esponder
                </div>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                    <ui:include src="menu.xhtml"></ui:include>
                   
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    
                </p:layoutUnit>

            </p:layout>
</h:form>

        </h:body>

    </f:view>
</html>

