<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:p="http://primefaces.org/ui">
    
        <p:panelGrid columns="3"  styleClass="companyHeaderGrid" style="width:98%" > 

            <p:graphicImage value="images/esponder.png" />
            <p:panelGrid columns="3" styleClass="companyHeaderGrid" style="width:95%">
            </p:panelGrid>
            
        </p:panelGrid>
  
    <p:growl id="messagesevents" showDetail="true" />  
 
</ui:composition>