<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
   <p:menu> 
       
        <p:submenu label="Dashboard">
            <p:menuitem value="Dashboard" url="dashboard.xhtml" />
            
        </p:submenu>
        
        <p:submenu label="Options">
            <p:menuitem value="Configure" url="configure.xhtml" />
            <p:menuitem value="Manage" url="manage.xhtml" />
            <p:menuitem value="Channels" url="channels.xhtml" />
        </p:submenu>

        <p:submenu label="Explore">
            
            <p:menuitem value="Explore" url="explore.xhtml" />
            <p:menuitem value="View Nodes" url="viewnodes.xhtml" />
            <p:menuitem value="View Channels" url="viewchannels.xhtml" />
            <p:menuitem value="Servers Map" url="smap.xhtml" />
            
        </p:submenu>

    </p:menu>
    
</ui:composition>