/* 
    Document   : esponder
    Created on : 23 Αυγ 2012, 9:12:55 μμ
    Author     : Thomas
    Description:
*/


.companyHeaderGrid tr, .companyHeaderGrid td {
    border: none !important;
}

html{height:100%;}
BODY
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;line-height: normal;font-weight: normal;font-variant: normal;text-transform: none;text-decoration: none;
    color: #333;
    BACKGROUND-COLOR:#97a4a2;
	margin:0 auto;
	text-align:center;
	top:0;
	padding-top:10px;

}

p{FONT-FAMILY: Verdana;COLOR: #333; font-size: 12px;line-height:16px;}

A{color:#f98669;text-decoration:none;font-size: 12px;}
A:hover{}

P table
{border-color: #5fbebe;}

#container{
	height:100%;
	overflow:hidden;
}


/*logo div*/
#topbanner{MARGIN: 0px auto;width:349px;top:0;padding:0;height:179px;float:left;}
#toparea1{MARGIN: 0px auto;top:0;padding:0;height:179px;background-color:#000;}

/*spaces*/
.horizontalBlank {width:960px;float:left;height:10px;background-color:#fff;}

/** Top Menu 1 - Horizontal 2-level CSS menu */
#menutop{background-image:url(top_image.jpg);width:611px;float:left;text-align:left;height:179px;}
#csstopmenu{float:right; text-align:right;color:#fff;height:23px;font-family:Verdana;font-size:12px;margin-top:7px;vertical-align: middle;width:600px;padding-right:11px;}
#csstopmenu A{color:#fff;text-decoration:none;}
#csstopmenu A:hover{color:#f98669;}
#menuline{background-color:#97a4a2;width:960px;height:3px;float:left;}

/*central content*/
#centralcontent{MARGIN: 0px auto;width:960px;}
#bgmain{WIDTH: 960px;float:left;min-height:250px;background-color:#fff;}

/*copy from marirena css*/
#leftarea1 {width:233px;float:left;border-right:solid 3px #97a4a2;padding-bottom:10000px;
	margin-bottom:-10000px;background-color:#f1f1f1;}
#leftmenu1{width:195px;display:inline-block;font-family:Verdana;font-size:12px; font-weight:bold;color:#333;padding-left:14px;padding-top:40px;padding-right:24px;padding-bottom:50px;}
#leftmenu1 ul,#leftmenu1 a{font-family:Verdana;font-size:12px;font-weight:bold;color:#333;list-style-type: none;text-decoration:none;text-align:left;margin-left:0;padding-left:10px;margin-top:0;}
#leftmenu1 a:hover {color:#f98669;text-decoration:none;}
#leftmenu1 li{height:25px;padding-top:4px;padding-bottom:2px;background-image:url(images/menu_bg.jpg);background-repeat:no-repeat; width:185px;}
#leftmenu1 li * {vertical-align:middle;}
#leftmenu1 a.selected {color:#f98669;text-decoration:none;}
#banners{float:left;width:233px;text-align:center;padding-bottom:30px;vertical-align:middle;border-right:solid 3px #97a4a2;height:71px;background-color:#f1f1f1;}

/*copy from marirena css end*/
/**central area**/
#centralarea{float:left;width:674px;padding-left:30px;padding-top:10px;padding-right:20px;}
/*Footer*/
#footer{width:960px;float:left;height:25px;}
#mainfooter{width:960px;margin:0 auto;}
#centerfooter{display:inline-block;text-align:right;vertical-align:top;background-color:#d9d9d9;color:#666;width:950px;height:20px;font-size:11px;padding-top:5px;padding-right:10px;}
#centerfooter P{font-size:12px;color:#666;padding:0;margin:0;}
#leftfooter{font-size:11px;color:#eee;display:block;text-align:left;width:960px;padding-top:10px;}
#leftfooter a,#leftfooter a:hover{font-size:11px;color:#eee;text-decoration:none;}
#MainPage
{
	width:674px;
	text-align:left;float:left;padding-top:20px;
}
.MainPageTable{width:654px;text-align:left;display:inline-block;padding-left:10px;padding-right:10px;padding-top:10px}
.MainPageTitle{color:#dc5836;font-size:23px;font-weight:bold;}
.MainPageDesCell{padding-top:18px;padding-bottom:6px;padding-right:80px;line-height:16px;}

.NewsArea{float:left;width:329px;text-align:left;font-size:11px;}

.topNewsArea{float:left;background-image:url(images/curves_top.jpg);background-repeat:no-repeat;width:329px;height:11px;}
.botNewsArea{float:left;background-image:url(images/curves_bottom.jpg);background-repeat:no-repeat;width:329px;height:11px;}
.NewsPageTitle{color:#ae2705;font-size:14px;font-weight:bold;display:block;padding-top:5px;padding-bottom:7px;padding-left:20px;}
.NewsTable{width:329px;text-align:left;display:inline-block;background-color:#f2f1f1;}
.NewsArea  ul{
	list-style-type: none;
	margin:0;
	padding-left:20px;
	padding-right:10px;
	padding-top:5px;
}
.NewsArea ul li{
	text-align:left;
	background:url(images/bullet.png) left 11px no-repeat;
	line-height:18px;
	padding-top:5px;
	padding-bottom:8px;
}
.NewsArea ul li a{
padding-left:15px;
}
.NewsTableTR {padding-top:10px;padding-left:20px;padding-bottom:5px;padding-right:10px;font-size:11px;line-height:18px;}
.NewsTableTR  p {padding:0;margin:0;font-family:Verdana;font-size:11px;}
.NewsTitle{font-size:11px;color:#333;font-weight:bold;}
.NewsTitle a {font-size:11px;color:#333;font-weight:bold;text-decoration:none;}
.NewsTitle a:hover {text-decoration:underline;}

span.date {font-family:Verdana;font-size:10px;color:#888;padding-left:15px;}


.centerclear{height:40px;float:left;width:100%;}
#blankarea{background-color:#fff;width:724px;height:101px;float:left;}
/*PAge*/
#pathbar a{color:#aeadad;font-size:11px;font-family:Verdana;text-decoration:none;}
#pathbar a:hover{text-decoration:underline;}
#pathbar{text-align:left;padding-bottom:20px;color:#aeadad;font-size:11px;display:block;position:relative;left:-15px;}
.tablePrintAndBack {display:inline-block;width:150px}
.tablePrintAndBack td a{font-family:Verdana;font-size:10px;color:#dc5836;text-decoration:none;}
.tablePrintAndBack td a:hover{font-family:Verdana;font-size:10px;color:#dc5836;text-decoration:underline;}

#mainPlaceholder{text-align:left;}

.PageTitle{color:#dc5836;font-size:14px;font-weight:bold;padding-top:5px;width:400px;}

.tableFolder{width:674px;}
.tableFolder  ul{
	list-style-type: none;
	margin:0;
	padding-left:10px;
}

.tableFolder ul a
{color:#333;text-decoration:none;font-size:14px;font-family:Verdana; 	
padding-left:15px;line-height:26px;}
.tableFolder ul a:hover{color:#333;font-size:14px;text-decoration:underline;
padding-left:15px;line-height:26px;}

.tableNewsItems {width:674px;}
.NewsDescr p{font-size:11px;color:#333;padding:0;margin:0;padding-top:15px;}
.tableNewsItems ul{list-style-type: none;margin:0;padding:0;}
.tableNewsItems ul li{padding-bottom:25px;}
.tableNewsItems a
{color:#333;text-decoration:none;font-size:11px;font-family:Verdana; 	line-height:26px;}
 .tableNewsItems a:hover{color:#333;font-size:11px;text-decoration:underline;line-height:26px;}
span.date2 {font-family:Verdana;font-size:10px;color:#888;}


.tablePage{width:674px;}
.tablePage table {font-size:12px;font-family:Verdana;}
.date{font-weight:bold;font-size:14px;color:#cd3e6c;}

UL.csUL1
{
        margin:2px;
        PADDING-LEFT: 15px; 
		color:#5fbebe;
 		list-style-type: none; 
}
UL.csUL2
{
	margin:2px;
	PADDING-LEFT: 55px; 
 	color:#5fbebe;
 	list-style-type: none; 
}
UL.csUL3
{
	margin:2px;
	PADDING-LEFT: 105px; 
 	color:#5fbebe;
 	list-style-type: none; 
}
UL.csUL4
{
	margin:2px;PADDING-LEFT: 145px; color:#5fbebe;list-style-type: none; 
}
UL.csUL5
{
	margin:2px;PADDING-LEFT: 185px; color:#5fbebe;list-style-type: none; 
}
UL.csUL6
{PADDING-LEFT: 225px; color:#5fbebe;list-style-type: none; }

A.sitemaplink
{TEXT-DECORATION: none;color:#5fbebe;}
A.sitemaplink:hover 
{	COLOR: #5fbebe;border-color: #5fbebe;
border-bottom-width: 1px;
border-left-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
border-style: dotted;
}
